.get-in-touch {
    color: var(--color-secondary);

    .get-container {
        display: grid;
        grid-template-columns: 1fr 41rem;
        column-gap: 2rem;
        width: 100%;
        max-width: 1400px;
        margin: 3rem auto;
        align-items: start;


        .get-header  {
            display: grid;
            justify-content: center; 

            .get-title {
                color: var(--color-accent);
                font-size: 1.6rem;
                font-family: var(--font-secondary);

            }
            .get-headline {
                font-size: 3rem;
                font-family: var(--font-secondary);
                line-height: 3.2rem;

            }
            .get-description {
                font-size: 1rem;
                line-height: 1.5rem;
                margin-bottom: 1.5rem;
            }
        
        }

        .getform-body {
            background-color: var(--color-light2);
            width: 40rem;
            border-radius: .5rem;

            .getform-group {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                justify-content: center;

                margin: 3.4rem;
                gap: 1rem;

                #name {
                    width: 33rem;
                    border: 1px solid var(--color-accent);
                    color: var(--color-secondary);
                    padding: .5rem;

                }
                .asterisk {
                    color: red;
                    padding: .3rem;
                }
                .get-contact {
                    display: grid;
                    grid-template-columns: 1fr 1fr;
                    grid-template-rows: auto auto;
                    row-gap: 1rem;
                    gap: 1rem;
                    
                    
                    #email {
                        width: 16rem;
                        border: 1px solid var(--color-accent);
                        color: var(--color-secondary);
                        padding: .5rem;
                        grid-column: 1;
                        grid-row: 2;
                    }

                    #telephone {
                        width: 16rem;
                        border: 1px solid var(--color-accent);
                        color: var(--color-secondary);
                        padding: .5rem;
                        grid-column: 2;
                        grid-row: 2;
                        
                    }
                }
            }
            #subject {
                width: 33rem;
                border: 1px solid var(--color-accent);
                color: var(--color-secondary);
                padding: .5rem;

            }
            #comments {
                width: 33rem;
                border: 1px solid var(--color-accent);
                color: var(--color-secondary);
                padding: .5rem;
                padding-bottom: 5rem;

            }
            .submit {
                min-width: auto;
                height: 2.7rem;
                color: var(--color-secondary);
                border-radius: 4px;
                padding: 0.6rem 3rem;
                font-size: 1rem;
                font-weight: 500;
                font-family: var(--font-secondary);
                background-color: var(--color-accent);
                cursor: pointer;
                transition: border-color 0.5s;

                &:hover {
                    background-color: var(--color-secondary);
                    color: #fff;
                }
            }
        }
    }
}

