.get-in-touch {
    color: var(--color-secondary);

    .get-container {
        display: grid;
        grid-template-columns: 1fr 41rem;
        column-gap: 2rem;
        width: 100%;
        max-width: 1400px;
        margin: 3rem auto;
        align-items: start;

        .get-header  {
            display: grid;
            justify-content: center; 

            .get-title {
                color: var(--color-accent);
                font-size: 1.6rem;
                font-family: var(--font-secondary);

            }
            .get-headline {
                font-size: 3rem;
                font-family: var(--font-secondary);
                line-height: 3.2rem;

            }
            .get-description {
                font-size: 1rem;
                line-height: 1.5rem;
                margin-bottom: 1.5rem;
            }
        }

        .getform-body {
            background-color: var(--color-light2);
            width: 40rem;
            border-radius: .5rem;

            input::placeholder, textarea::placeholder {
                color: var(--color-accent);
                
            }

            .getform-group {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                justify-content: center;

                margin: 3.4rem;
                gap: 1rem;

                #name {
                    width: 100%;
                    border: 1px solid var(--color-accent);
                    padding: .5rem;

                }
                .asterisk {
                    color: red;
                    padding: .3rem;
                }
                .get-contact {
                    display: grid;
                    grid-template-columns: 1fr 1fr;
                    grid-template-rows: auto auto;
                    gap: 1rem;

                    .email-side {

                        #email {
                            width: 100%;
                            border: 1px solid var(--color-accent);
                            padding: .5rem;
                        }
                    }
                    .phoneNumber-side {

                        #phoneNumber {
                            width: 100%;
                            border: 1px solid var(--color-accent);
                            padding: .5rem;
                        }
                    }
                }
                .validation-error {
                    color: red;
                    font-size: .9rem;
                }
            }

            #subject {
                width: 100%;
                border: 1px solid var(--color-accent);
                padding: .5rem;

            }
            #comments {
                width: 100%;
                border: 1px solid var(--color-accent);
                padding: .5rem;
                padding-bottom: 5rem;

            }
            .submit {
                min-width: auto;
                height: 2.7rem;
                color: var(--color-secondary);
                border-radius: 4px;
                padding: 0.6rem 3rem;
                font-size: 1rem;
                font-weight: 500;
                font-family: var(--font-secondary);
                background-color: var(--color-accent);
                cursor: pointer;
                transition: border-color 0.5s;

                &:hover {
                    background-color: var(--color-secondary);
                    color: #fff;
                }
            }

            input:focus, textarea:focus {
                outline: 0;
                border-color: var(--color-secondary) !important;
            }
            
            input:focus:not(:placeholder-shown), textarea:focus:not(:placeholder-shown) {
                border-color: var(--color-accent) !important;
            }

            [aria-invalid='true']:not(:focus) {
                border-color: red !important;
                color: red;
            }
        }
    }
}

