.topbar {
    color: var(--color-primary);
    background: var(--color-secondary);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;

}

.topbar .contactitems,
.topbar .toplogo {
    display: flex;
    align-items: center;
    gap: 12px;
}

.topbar .contactitems .icon-telephone {
    margin-left: 50px;
}
.topbar .contactitems .telephonennumber {
    margin-right: 20px;
}
.topbar .toplogo .youtube {
    margin-right: 50px;
}
.topbar .toplogo {
    gap: 18px;
    cursor: pointer;
}

.navbar {
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: center;
    border-bottom: 0px solid;
    gap: 1rem;
    padding: 10px 50px;
    height: 7rem;
}
.navbar .logo{
    justify-self: start;
    margin: 1rem;
}
.navbar nav {
    justify-self: center;
    display: flex;
    gap: 1rem;
    color: var(--color-secondary);
    font-size: 18px;
    gap: 1.8rem;
}
.navbar .btn {
    min-width: auto;
    height: 3.3rem;
    color: var(--color-secondary);
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6rem 2rem;
    font-size: 1rem;
    font-weight: 500;
    font-family: inherit;
    background-color: var(--color-accent);
    cursor: pointer;
    transition: border-color 0.5s;
    margin-right: 2rem;
    margin-bottom: .2rem;
    
}
.navbar .btn:hover {
    background: var(--color-secondary);
    color: var(--color-primary);
}
.navbar .nav-link[aria-current="page"]{
    color: var(--color-accent);
    font-weight: 700;
}
.navbar .nav-link:hover {
    color: var(--color-accent);
    font-weight: 500;
}