.our-services {
    color: var(--color-secondary);
    
    .container {
        width: 100%;
        max-width: 1400px;
        display: grid;
        gap: 1rem;
        
        .services-intro {
            display: flex;
            flex-direction: column;
            line-height: normal;
            
            .services-title {
                font-size: 1.5rem;
                color: var(--color-accent);
                margin: 2rem 0 0 19rem;

            }
            .services-maintext {
                display: grid;
                grid-template-columns: 1fr 1fr;
                align-items: center;

                .services-headline {
                    font-size: 3.1rem;
                    margin: .5rem 5rem 1rem 0;
                    margin-left: auto;
                }
                .service-description {
                    font-size: 1rem;
                    line-height: 1.5rem;
                    margin: .6rem 0;
                    font-family: var(--font-family);
                }
            }
        }
        .service-items{
            display: grid;
            grid-template-columns: 1fr .8fr 1fr;
            grid-auto-rows: auto;
            align-items: start;
            gap: 2rem;
        }
        .service-boxes {
            display: grid;
            gap: 1rem;
            
            .service-box1, .service-box2, .service-box3, .service-box4{
                border: 2px solid var(--color-light);
                border-radius: .5rem;
                padding: 1.5rem;
                
                .service-boxtitle {
                    padding: .1rem .1rem;
                    line-height: 1.5rem;
                    font-size: 1.4rem;
                    margin-bottom: 1rem;
                }
                &:hover {
                    border-color: var(--color-accent);
                }
            }
        }
        .service-boxes.left {
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            padding: 0;
        }
        .service-img {
            grid-column: 2;
            grid-row: span 2;
            display: block;
            
        }
        .service-boxes.right {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
            padding-right: 0;
        }
    }
}