.our-services {
    color: var(--color-secondary);
    
    .container {
        width: 100%;
        max-width: 1400px;
        display: grid;
        gap: 2rem;
        grid-template-columns: 1fr .8fr 1fr;
        grid-auto-rows: auto;
        align-items: start;

        .services-intro {
            grid-column: 1 / -1;
            font-family: var(--font-secondary);
            padding: .2rem;
            margin: 2rem 6rem;
            
            .services-title {
                font-size: 1.5rem;
                color: var(--color-accent);
                margin: 0 17rem;
            }
            .services-maintext {
                display: flex;
                justify-content: space-between;
                align-items: flex-start; 

                .services-headline {
                    font-size: 3.2rem;
                    margin-left: 17rem;
                }
                .service-description {
                    font-size: 1rem;
                    line-height: 1.5rem;
                    margin: .6rem 12rem;
                    font-family: var(--font-family);
                }
            }
        }
        .service-boxes {
            display: grid;
            gap: 1rem;
            
            .service-box1, .service-box2, .service-box3, .service-box4{
                border: 2px solid var(--color-light);
                border-radius: .5rem;
                padding: 2.1rem;
                .service-boxtitle {
                    padding: .1rem .1rem;
                    font-size: 1.4rem;
                }
                &:hover {
                    border-color: var(--color-accent);
                }
            }
        }
        .service-boxes.left {
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            padding: 0;
        }
        .service-img {
            grid-column: 2;
            grid-row: span 2;
            display: block;
            width: 100%;
            height: 100%;
        }
        .service-boxes.right {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
            padding-right: 0;
        }
    }
}