.star-rating {
    position: relative;
    display: flex;
    color: var(--color-secondary);
    z-index: 9999;
    gap: .2rem;
    

    .fa-star.empty {
        color: var(--color-primary);
        border: 1px solid var(--color-secondary);
    }
    
}
