@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-family: "Inter", sans-serif;
  --font-secondary: "Urbanist", sans-serif;

  --color-primary: #fff;
  --color-secondary: #12372A;
  --color-accent: #F1C30C;
  --color-light: #ECECEC;
  --color-light2: #FAF8EC;
  --color-light3: #F1FFEA;

}

html, body, #root {
  height: 100%;
}
body{
  margin: 0;
  font: var(--font-family);
  color: #fff;
  margin: 0;
}

img, video {
  max-width: 100%;
  height: auto;
  display: block;
}

.container {
    min-width: 100%;
    margin: 0 auto;
    padding-inline: 10px;

    @media (width > 768px) {
      max-width: 744px;
    }
    @media (width > 992px) {
      max-width: 960px;
    }
    @media (width > 1200px) {
      max-width: 1140px;
    }
    @media (width > 1400px) {
      max-width: 1320px;
    }
    @media (width > 1920px) {
      max-width: 1900px;
    }
}


/* :root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */
